################################################################################
# RHINO Resources
################################################################################
CONFIG VCCAUX  = 3.3;

NET "SYS_RST_I" LOC = R8;
NET "SYS_CLK_P" LOC = B14 | IOSTANDARD=LVDS_25 |DIFF_TERM=TRUE;
NET "SYS_CLK_N" LOC = A14 | IOSTANDARD=LVDS_25 |DIFF_TERM=TRUE;

################################################################################
# Status LEDs
################################################################################
NET "GBE_INIT_OK" 	 LOC = W2;
	
################################################################################
# 1Gbps Ethernet Connection
################################################################################
NET "GIGE_COL"     LOC = AC2 | IOSTANDARD = LVCMOS25;
NET "GIGE_CRS"     LOC = AD1 | IOSTANDARD = LVCMOS25;
NET "GIGE_MDC"     LOC = AC1 | IOSTANDARD = LVCMOS25;
NET "GIGE_MDIO"    LOC = AE2 | IOSTANDARD = LVCMOS25;
NET "GIGE_GTX_CLK" LOC = AB5 | IOSTANDARD = LVCMOS25 | SLEW = FAST;	
NET "GIGE_nRESET"  LOC = AA2 | IOSTANDARD = LVCMOS25;

NET "GIGE_RXD[0]" LOC = W5  | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[1]" LOC = U9  | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[2]" LOC = U8  | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[3]" LOC = U7  | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[4]" LOC = T6  | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[5]" LOC = AB3 | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[6]" LOC = AB1 | IOSTANDARD = LVCMOS25;
NET "GIGE_RXD[7]" LOC = AD3 | IOSTANDARD = LVCMOS25;
NET "GIGE_RX_CLK" LOC = W3  | IOSTANDARD = LVCMOS25;
NET "GIGE_RX_DV"  LOC = U3  | IOSTANDARD = LVCMOS25;
NET "GIGE_RX_ER"  LOC = V5  | IOSTANDARD = LVCMOS25;

NET "GIGE_TXD[0]" LOC = AA3 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[1]" LOC = Y6  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[2]" LOC = Y5  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[3]" LOC = AB4 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[4]" LOC = AC3 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[5]" LOC = V7  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[6]" LOC = V6  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TXD[7]" LOC = U4  | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TX_CLK" LOC = T1  | IOSTANDARD = LVCMOS25 | SLEW = FAST; 
NET "GIGE_TX_EN"  LOC = AC4 | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "GIGE_TX_ER"  LOC = AA4 | IOSTANDARD = LVCMOS25 | SLEW = FAST; 

# constraints
NET "GIGE_RX_CLK" TNM_NET = "GIGE_RX_CLK";
TIMESPEC "TS_GIGE_RX_CLK" = PERIOD "GIGE_RX_CLK" 8 ns HIGH 50 %;

NET "GIGE_MDC" TNM_NET = "GIGE_MDC";
TIMESPEC "TS_GIGE_MDC" = PERIOD "GIGE_MDC" 2.5 MHz HIGH 50 %;

#NET "GIGE_TX_CLK" CLOCK_DEDICATED_ROUTE = FALSE;